body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.navBar {
    position: fixed;
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: #eee;
    border-bottom: solid 1px #ddd;
}

.menuEnter {
    float: right;
    padding-right: 10px;
}

.quitSys {
    float: left;
    padding-left: 15px;
}

.htmlContent {
    position: absolute;
    top: 45px;
    bottom: 0px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow: auto;
    overflow: auto;
}

#navMenu {
    position: absolute;
    top: 45px;
    bottom: 0px;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow: auto;
    overflow: auto;
}

#navMenu ul {
}

#navMenu ul li {
    height: 44px;
    background-color: #eee;
    border-bottom: solid 1px #ccc;
    line-height: 44px;
}

#navMenu ul li a {
    display: inline-table;
    width: 100%;
    padding: 0px 10px;
}

.funcBlock {
    background-color: white;
    margin: 0px;
    padding: 0px;
    /*min-height:600px;*/
}

.funcTitle {
    background-color: #31ADFF;
    height: 22px;
    line-height: 22px;
    padding: 5px 10px;
    border: solid 1px #bbb;
}

.funcContent {
    border-bottom: solid 1px #bbb;
    border-left: solid 1px #bbb;
    border-right: solid 1px #bbb;
    margin-bottom: 20px;
    padding: 5px;
}

.funcSubTitle {
    background-color: #ddd;
    height: 22px;
    line-height: 22px;
    padding: 5px 10px;
    border: solid 1px #bbb;
}

.codeExampleTitle {
    background-color: #ddd;
    padding: 5px 10px;
    border: solid 1px #bbb;
}

.funcSubTitle:nth-child(n+2) {
    margin-top: 5px;
}

.funcContent .f_content_table {
    background-color: #ddd;
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
}

.funcContent .f_content_table tr {
    height: 30px;
    background-color: #fff;
}

.funcContent .f_content_table td {
    padding: 0px 5px;
}

.funcContent .f_content_table tr td:nth-child(1) {
    width: 40%;
    text-align: right;
}

.tdSubmit {
    text-align: center;
}

.btnSubmit {
    width: 100%;
    height: 30px;
    background-color: #31ADFF;
    color: White;
    margin: 5px 0px;
}

.displayNone {
    display: none;
}

#wrapper {
    top: 50px;
}

.callbackData {
    margin: 10px 0px;
    border: solid 1px Gray;
}

.callbackData li {
    width: 100%;
    min-height: 30px;
    border-bottom: solid 1px gray;
}
